body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.nav>ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.2rem;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px 0px 20px 10px black;
    opacity: 1;
}

.div1 {
    background: url("https://picsum.photos/500");
    background-size: cover;
}

.div2 {
    background: url("https://picsum.photos/600");
    background-size: cover;
}

.div3 {
    background: url("https://picsum.photos/700");
    background-size: cover;
}

.div4 {
    background: url("https://picsum.photos/800");
    background-size: cover;
}

.footer {
    text-align: center;
    padding: 5px;
}