@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --nav-height: 3rem;
    --nav-bg: rgb(0,255,155);
    --active-index: 0;
    --total-nav-items: 0;
    --anim-speed: 0.5s;
}

body {
    margin: 0;
}

nav {
    background: var(--nav-bg);
    display: flex;
    height: var(--nav-height);
    align-items: center;
    color: white;
    font-family: poppins;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.nav-item {
    height: 100%;
    flex: 1;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    opacity: 0.7;
}

.nav-item.active {
    opacity: 1;
}

nav::before {
    --indicator-width: calc(100% / var(--total-nav-items));
    content: "";
    height: 0.2rem;
    font-size: 3rem;
    width: var(--indicator-width);
    background-color: white;
    position: absolute;
    bottom: 0;
    left: calc(var(--active-index) * var(--indicator-width));
    color: red;
    transition: left var(--anim-speed);
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.nav-item:active {
    background-color: rgba(255, 255, 255, 0.5);
}