/* use your own css here, this is just for demo purposes */

body,
.icons-container {
  gap: 0.5rem;
}

.icons-container,
.displayer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
}

.displayer > div {
  text-align: center;
}

.displayer div > div {
  font-size: 200%;
  font-weight: bold;
}