body {
    margin: 0;
}

nav {
    background-color: blue;
    width: 100vw;
    height: 3em;
    display: grid;
    place-items: center start;
    padding-left: 1em;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

main {
    display: grid;
    gap: 0.5em;
}

main div {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: grid;
    place-items: center;
}

#betaLine {
    height: 0.2em;
    width: 100vw;
    color: red;
    background-color: red;
    box-shadow: 0 0 1em red;
    padding: 0 0.5em;
    position: absolute;
    top: 1000px;
}