@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
	--nav-height: 3rem;
	--nav-bg: rgb(0, 128, 105);
	--text-color: white;
}

body {
	margin: 0;
}

nav {
	display: flex;
	height: var(--nav-height);
	background-color: var(--nav-bg);
	color: var(--text-color);
	text-transform: uppercase;
	font-family: poppins;
	user-select: none;
}

nav .nav-item {
	flex: 1;
	display: grid;
	place-items: center;
}

nav .nav-item:active {
	background-color: rgba(255, 255, 255, 0.2);
}

/* nav {
	position: relative;
}

nav::before {
	--total-nav-items: 3;
	--active-index: 1;
	--anim-speed: 0.5s;
	--indicator-width: calc(100% / var(--total-nav-items));
	--indicator-left-position: calc(var(--active-index) * var(--indicator-width));
	content: "";
	background-color: white;
	height: 0.2rem;
	width: var(--indicator-width);
	position: absolute;
	bottom: 0;
	left: var(--indicator-left-position);
	color: red;
	transition: left var(--anim-speed);
	box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
} */

nav {
	position: relative;
}

nav::before {
	--indicator-width: calc(100% / var(--total-nav-items));
	content: "";
	position: absolute;
	height: 0.2rem;
	width: 100px;
	background-color: red;
	bottom: 0;
	width: var(--indicator-width);
	left: calc(var(--index) * var(--indicator-width));
}
