@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
	--nav-height: 3rem;
	--nav-bg: rgb(0, 128, 105);
	--text-color: white;
	--anim-speed: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	display: flex;
	height: var(--nav-height);
	background-color: var(--nav-bg);
	color: var(--text-color);
	text-transform: uppercase;
	font-family: poppins;
	user-select: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
}

nav .nav-item {
	flex: 1;
	display: grid;
	place-items: center;
}

nav .nav-item:active {
	background-color: rgba(255, 255, 255, 0.2);
}

nav::before {
	--indicator-width: calc(100% / var(--total-nav-items));
	content: "";
	position: absolute;
	height: 0.2rem;
	width: 100px;
	background-color: var(--text-color);
	bottom: 0;
	width: var(--indicator-width);
	left: calc(var(--index, 0) * var(--indicator-width));
	transition: left var(--anim-speed);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

#container {
  /* border: 5px solid red; */
  position: fixed;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
	left: calc(-1 * (var(--index, 0) * 100vw));
	transition: left var(--anim-speed);
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100vw;
}

#container>* {
  /* border: 2px solid red; */
	height: 100%;
	width: 100%;
	overflow: auto;
	padding: 0 1rem;
}