.calendar {
    display: grid;
    gap: 0.5em;
    height: 90vh;
}

.day {
    border: 2px solid black;
    padding: 0.1em;
}

.day1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.day2 {
    grid-column: 2/4;
}

.day3 {
    grid-column: 4/5;
}

.day4 {
    grid-column: 5/6;
}

.day5 {
    grid-column: 6/7;
}

.day6 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.day7 {
    grid-column: 2/3;
}

.day8 {
    grid-column: 3/5;
}

.day9 {
    grid-column: 5/6;
}

.day10 {
    grid-column: 6/7;
}

.day11 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.day12 {
    grid-column: 2/3;
}

.day13 {
    grid-column: 3/4;
}

.day14 {
    grid-column: 4/6;
}

.day15 {
    grid-column: 6/7;
}

.day16 {
    grid-column: 1/2;
    grid-row: 4/6;
}

.day17 {
    grid-column: 2/3;
}

.day18 {
    grid-column: 3/5;
}

.day19 {
    grid-column: 5/6;
}

.day20 {
    grid-column: 6/7;
}

.day21 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.day22 {
    grid-column: 2/4;
}

.day23 {
    grid-column: 4/5;
}

.day24 {
    grid-column: 5/6;
}

.day25 {
    grid-column: 6/7;
}