body {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.calendar {
    display: grid;
    gap: 0.5em;
    height: 80vh;
    width: 80vh;
}

.day {
    border: 2px solid goldenrod;
    padding: 0.1em;
    display: grid;
    place-items: center;
    border-radius: 0.3em;
    transition-duration: 1s;
}

.day:hover {
    background-color: goldenrod;
    color: white;
    transition-duration: 0.5s;
}

.day1 {
    grid-column: 1/2;
}

.day2 {
    grid-column: 2/4;
}

.day3 {
    grid-column: 4/5;
}

.day4 {
    grid-column: 5/6;
}

.day5 {
    grid-column: 6/7;
}

.day6 {
    grid-column: 1/2;
}

.day7 {
    grid-column: 2/3;
}

.day8 {
    grid-column: 3/5;
}

.day9 {
    grid-column: 5/6;
}

.day10 {
    grid-column: 6/7;
}

.day11 {
    grid-column: 1/2;
}

.day12 {
    grid-column: 2/3;
}

.day13 {
    grid-column: 3/4;
}

.day14 {
    grid-column: 4/6;
}

.day15 {
    grid-column: 6/7;
}

.day16 {
    grid-column: 1/2;
}

.day17 {
    grid-column: 2/3;
}

.day18 {
    grid-column: 3/5;
}

.day19 {
    grid-column: 5/6;
}

.day20 {
    grid-column: 6/7;
}

.day21 {
    grid-column: 1/2;
}

.day22 {
    grid-column: 2/4;
}

.day23 {
    grid-column: 4/5;
}

.day24 {
    grid-column: 5/6;
}

.day25 {
    grid-column: 6/7;
}