.calendar {
    display: grid;
    gap: 0.5em;
}

.day {
    border: 2px solid black;
    padding: 0.1em;
}

.day1 {
    grid-column: 1/ 2;
}

.day2 {
    grid-column: 2/ 3;
}

.day3 {}

.day4 {}

.day5
}
.day6
}
.day7
}
.day8
}
.day9 {}
.day10 {}
.day11 {}
.day12 {}
.day13 {}
.day14 {}
.day15 {}
.day16 {}
.day17 {}
.day18 {}
.day19 {}
.day20 {}
.day21 {}
.day22 {}
.day23 {}
.day24 {}
.day25 {}