body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.counter-div {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 50vw;
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.3);
    border-radius: 5rem;
    place-items: center;
    overflow: hidden;
}

.counter-content {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

.counter-content button {
    border: none;
    background-color: white;
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.counter-content div {
    padding: 0 1em;
}


/* not completed */