@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --nav-height: 10rem;
  --nav-width: 100vw;

  --bg-grey: #f4f4f4;
  --bg-white: #fff;

  --page-height: calc(100vh - var(--nav-height));
  
  --small-font: 1rem;
}

body {
  margin: 0;
  font-family: poppins;
}

nav {
  height: var(--nav-height);
  width: var(--nav-width);
  background: var(--bg-white);
  position: fixed;
  top: 0;
  display: flex;
  gap: 2rem;
}

#container {
  position: fixed;
  top: var(--nav-height);
  height: var(--page-height);
  background: var(--bg-grey);
  padding: 2rem;
}

.item {
  display: grid;
  gap: var(--small-font);
  height: min-content;
}

.item * {
  border: 1px dashed red;
}

.price-container {
  display: flex;
  gap: 0.2rem;
}

.price-big {
  font-size: calc(var(--small-font) * 2);
  font-weight: bold;
}

.second-price-container {
  display: grid;
  font-size: var(--small-font);
}

.price-small::before {
  content: ".";
}


