* {
    --nav-height: 46px;
    --img-height: calc(50vh - ((var(--nav-height)) / 2))
}

body {
    margin: 0;
    height: 100vh;
}

nav {
    height: var(--nav-height);
    background: blue;
    color: white;
}

.container {
    display: grid;
}

.container .image {
    height: var(--img-height);
    width: auto;
}