/* this important so padding/border doesn't make the element bigger than they should be */
*,
*::before {
  box-sizing: border-box;
}

body {
  /* --shadow-width: 10rem; */
  /* add this so body will be equal to the device height */
  height: 100vh;
  /* solving the bug of scrollbar appear */
  margin: 0;
}

/* the image will be full screen */
#container {
  height: 100%;
  width: 100%;
  /* if the shadow is outside the window, then the scrollbar will not appear */
  overflow: hidden;
}

/* if you have some elements inside #container, then uncomment the following */
/* #container {
  display: grid;
  place-content: center;
} */

/* styles for the image bg */
#container {
  background-image: url("http://picsum.photos/5000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* making the image dark so we can see the white shadow shadow */
#container {
  filter: brightness(0.5);
}

/* shadow element is a pseudoelement */
#container::before {
  content: "";
  position: absolute;
  /* position and move the element */
  top: var(--y);
  left: var(--x);
  /* center it to the mouse position */
  transform: translate(-50%, -50%);
  /* setting the height and width */
  width: var(--shadow-width);
  height: var(--shadow-width);
  /* circular shapes */
  border-radius: var(--shadow-width);
  /* shadow, more the 0.4 is bigger more is invisible, I think a value between 0.3/0.5 is good */
  filter: blur(calc(var(--shadow-width) * 0.4));
  /* white color gradient from visible to invisible */
  background: radial-gradient(circle, rgba(255, 255, 255, 1), transparent);
  /* to make sure that is always on top of elements inside #container */
  z-index: 1;
}
