@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --bg: red;
    --nav-height: 5rem;
    --nav-width: 20rem;
    --anim-speed: 0.2s;
    --icon-size: calc(var(--nav-height) / 2);
}

*, *::before, *::after {
    transition: all var(--anim-speed);
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
   
}

nav {
    display: flex;
    padding: 0 var(--icon-size);
    gap: var(--icon-size);
    height: var(--nav-height);
    border-radius: var(--nav-height);
    background-color: white;
    box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

nav .icon-div {
    display: flex;
    align-items: center;
    position: relative;
}

nav .icon {
    --disabled-color: grey; 
    font-size: var(--icon-size);
    color: var(--disabled-color);
    filter: drop-shadow(0 0 calc(var(--icon-size) / 2) var(--disabled-color));
}

.icon-div.active .icon {
    color: var(--bg);
    filter: inherit;
}

nav .icon-div::before {
    content: attr(data-text);
    top: 0;
    color: white;
    position: absolute;
    z-index: -1;
    width: max-content;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
}

nav .icon-div.active::before {
    font-family: poppins;
    --top-visible: calc(-1 * (var(--nav-height) / 3));
    animation: showDataText calc(var(--anim-speed) * 3); 
}

@keyframes showDataText {
    from {
        opacity: 0;
        top: 0;
    }
    30% {
        opacity: 1;
        top: var(--top-visible);
    }
    80% {
        opacity: 1;
        top: var(--top-visible);
    }
    to { 
        opacity: 0;
        top: 0;
    }
}

nav::after {
    --indicator-height: 0.4rem;
    --left-position: calc(var(--iconActiveIndex, 1) * 35px);
    content: "";
    position: absolute;
    background-color: var(--bg);
    height: var(--indicator-height);
    width: var(--icon-size);
    bottom: var(--indicator-height);
    left: var(--left-position);
    transform: translateX(calc(var(--posXindicator, 1) * 1px));
    border-radius: var(--indicator-height);
}

nav:active::after {
    width: calc(var(--icon-size) - 1rem);
}

.icon-div:active .icon {
    --angle: 20deg;
    transform: rotate(20deg);
}