:root {
    --bg: red;
    --nav-height: 5rem;
    --nav-width: 20rem;
    --icon-height: calc(var(--nav-height) / 2);
    --anim-speed: 0.3s;
}

* {
    transition: all var(--anim-speed) ease-in-out;
}

body {
    margin: 0;
    background-color: var(--bg);
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

nav {
    background-color: white;
    height: var(--nav-height);
    border-radius: var(--nav-height);
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: var(--nav-width);
    box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

nav .icon-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav i {
    font-size: var(--icon-height);
    color: grey;
}

nav .icon-div:hover i {
    color: var(--bg);
}

nav .icon-div:active i {
    transform: rotate(20deg);
}

nav .icon-div::before {
    content: attr(data-text);
    top: 0;
    color: white;
    position: absolute;
    z-index: -1;
    transition: top var(--anim-speed) ease-in-out;
}

nav .icon-div:hover::before {
    --top-visible: calc(-1 * (var(--nav-height) / 3));
    top: var(--top-visible);
}

.icon-div:hover::after {
    content: "";
    height: 0.5rem;
    width: var(--icon-height);
    border-radius: 0.5rem;
    background-color: var(--bg);
    bottom: calc(var(--nav-height) / 15);
    position: absolute;
}

.icon-div:active::after {
    content: "";
    height: 0.5rem;
    width: calc(var(--icon-height) - 0.5rem);
    border-radius: 0.5rem;
    background-color: var(--bg);
    bottom: calc(var(--nav-height) / 15);
    position: absolute;
}