/* list div */

.list {
    bottom: 0;
    height: calc(100% - 85px);
    left: 50%;
    max-width: 600px;
    padding-bottom: 85px;
    -webkit-transform: translate(-50%, -5%);
    z-index: -1;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    justify-content: center;
    opacity: 0;
    background-color: #f1f1f1;
}


/*animation*/

.anim {
    -webkit-animation: openlist 200ms ease forwards;
    z-index: 2;
    opacity: 1;
}

@-webkit-keyframes openlist {
    0% {
        -webkit-transform: translate(-50%, -5%);
        opacity: 0;
    }
    to {
        -webkit-transform: translate(-50%, 0);
        opacity: 1
    }
}