body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #1f2937;
    height: 70px;
    width: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.logo {
    font-size: 2.5rem;
    font-family: Luxurious Roman;
}

nav ul li a {
    color: white;
    list-style: none;
    text-decoration: none;
    /* background-color: royalblue; */
    display: inline;
}

nav,
ul {
    display: flex;
}

nav ul {
    list-style-type: none;
    gap: 10px;
}