body {
    margin: 0;
}

#bg-image {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /*make the background responsive*/
    object-fit: cover;
    /* under the circle div*/
    z-index: -1;
}

#circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    /* change the url with the link of image you want */
    background-image: url(https://laaouatni.github.io/w11-clone/images/0light.jpg);
    /*making the background responsive*/
    background-size: cover;
    /*center the background */
    background-position: center;
    background-repeat: no-repeat;
    /* the MAGIC is  HERE in the next property */
    background-attachment: fixed;
    /*the transition make everything look good*/
    transition-duration: 0.1s;
}