.footer-content {
  display: grid; /* I use grid since in the title there is so, I suggest flexbox instead */
  grid-auto-flow: column; /* element side by side like flexbox */
  place-items: start center; /* centering the justify, but align in start */
}

.footer-email {
  margin-right: 200px; /* put here the value you */
}