* {
    --linkedin-blue: #0e76a8;
}

body {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header div {
    display: flex;
    gap: 0.5vw;
}

#header a {
    color: white;
    text-decoration: none;
}

#email-div>div:first-child,
#phone-div>div:first-child,
#header h1,
h3 {
    color: orange;
}

.container h3 {
    display: grid;
    place-content: center;
}

.weight {
    font-weight: bold;
}

.container {
    display: grid;
    background-color: white;
    margin: 0 5vw;
    padding: 2rem;
}

#skills ul,
#experience ul,
#education ul,
#aws-section ul {
    display: grid;
    gap: 0.5rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-gap {
    display: grid;
    gap: 1rem;
}

.pretty {
    background-color: var(--linkedin-blue);
    color: White;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.bg-orange {
    background-color: orange;
}