body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: clamp(14px, -1rem + 8.333vw, 26px);
  color: #fff;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

.dark {
  color: black;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: clamp(24px, -1rem + 8.333vw, 72px);
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  /* what I added to center it */
  display: flex;
  justify-content: center;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  /* ------ General ------ */

  p {
    padding: 10px;
  }

  .group-lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  /* ------ Navigation ------ */

  header {
    display: flex;
    justify-content: space-between;
  }

  header div {
    display: flex;
    align-items: center;
  }

  /* ------ Form -----*/
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  form div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  form button {
    margin: 10px;
    width: 100%;
  }
}
