body {
  --gap: 2vmin;
  margin: 0;
  height: 100vh;
}

#container {
  display: flex;
  height: 100%;
  gap: var(--gap);
  padding: var(--gap);
  box-sizing: border-box;
}

#container > div {
  flex: 1;
  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--gap);
}

code {
  overflow: scroll;
  white-space: pre;
}