body {
  background-color: grey;
}

.eye-outline,
.eye-white,
.iris,
.pupil,
.iris-outline {
  border-radius: 50%;
}

.eye-outline {
  position: relative;
}

/* the most important part, centering correctly */
.eye-white,
.iris,
.pupil,
.iris-outline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eye-outline, 
.iris-outline,
.pupil {
  background-color: black;
}

.eye-outline {
  width: 80vmin;
  height: 55vmin;
}

.eye-white {
  width: 78vmin;
  height: 53vmin;
  background-color: white;
}

.iris-outline {
  width: 52.5vmin;
  height: 52.5vmin;
}

.iris {
  width: 50vmin;
  height: 50vmin;
  background-color: blue;
}

.pupil {
  width: 35vmin;
  height: 35vmin;
}

/* not important, only debugging purposes */

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}
