h1 {
  text-align: center;
  font-size: 64px;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

iframe {
  display: block;
  border-style: none;
}

html {
  height: 100%;
}

body {
  font: normal 16px verdana, arial, sans-serif;
  background-position: top;
  height: 100%;
  margin: 0;
}

.test {
  width: 500px;
  border: 2px solid black;
  padding: 50px;
  margin: auto;
  background-color: #9FE7FF;
}

.email-part {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }

  body {
    padding: 1rem;
  }

  .test, iframe {
    width: 100%;
  }

  h1 {
    font-size: 12vw;
  }
}