:root {
  /* change this values to make it more custum */
  --height: 500px;
  --width-childs: 40%;
  --outside-value: 1rem;
  --image-url: url("https://picsum.photos/1000")
}

.body-full {
  height: 100vh;
  margin: 0;
}

.centered {
  display: grid;
  place-items: center;
}

.pos--relative {
  position: relative;
}

.pos--absolute {
  position: absolute;
}

.container {
  height: var(--height);
  width: var(--height);
}

.bg-image {
  background-image: var(--image-url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-childs {
  display: grid;
  height: calc(100% + var(--outside-value));
  width: var(--width-childs);
  right: 0;
}

.outside-position {
  --negative-outside-position: calc(var(--outside-value) * -1);
  position: absolute;
  bottom: var(--negative-outside-position);
  left: var(--negative-outside-position);
}

.box--green {
  background: green;
}

.box--blue {
  background: blue;
}

.box--yellow {
  background: yellow;
}

.btn {
  border: 1px solid black;
  background: black;
  color: white;
  padding: 6px;
}
