* {
  box-sizing: border-box;
}

#container {
  display: grid;
  /* creating a margin between elements */
  gap: 1rem;
}

#container>div {
  background: red;
  /* only debugging purposes */
  height: 30rem;

  font-size: 2rem;
}

/* the most important thing */
/* this make the element visible also after the scrolling */
/* and is better than "fixed" position, because this solution is in the normal flow of the page */
#container>div:nth-child(1) {
  position: sticky;
  top: 0;
}