@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
	--nav-height: 3rem;
	--nav-width: 100vw;
	--bg-color: rgb(0, 128, 105);
	--text-color: white;
	--anim-speed: 0.5s;

	--total-nav-items: 0;
	--active-index: 0;
	/* dark mode */
	color-scheme: light dark;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: poppins;
	overflow: hidden;
}

nav,
header {
	background-color: var(--bg-color);
	height: var(--nav-height);
	width: var(--nav-width);
}

header {
	display: flex;
	align-items: center;
	padding: 0 1rem;
}

nav {
	display: flex;
	color: var(--text-color);
	text-transform: uppercase;
	position: sticky;
	top: 0;
	z-index: 1;
}

nav::before {
	--indicator-width: calc(var(--nav-width) / var(--total-nav-items));
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(var(--active-index) * var(--indicator-width));
	background-color: var(--text-color);
	height: 0.2rem;
	width: var(--indicator-width);
	transition: left var(--anim-speed);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.nav-item {
	/* outline: 1px solid red; */
	flex: 1;
	display: grid;
	place-items: center;
	user-select: none;
}

.nav-item:active {
	background-color: rgba(255, 255, 255, 0.3);
}

#container {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: var(--nav-width);
	left: calc(-1 * (var(--active-index) * var(--nav-width)));
	transition: left var(--anim-speed);
	min-height: calc(100vh - (var(--nav-height) * 2));
}

#container > * {
	height: min-content;
	padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: rgb(31, 44, 52);
		--text-color: rgb(8, 164, 128);
	}
}
